<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
  
  // Client Side Javascript to receive numbers.
$(document).ready(function(){
 
    // start up the SocketIO connection to the server - the namespace 'test' is also included here if necessary
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/query=hello');
    console.log("hello dd");
    // this is a callback that triggers when the "my response" event is emitted by the server.
    socket.on('my response', function(msg) {
      alert("Query is processed")
      $(location).attr('href', '/test');
      //$("input[name=gender][value=" + "male" + "]").attr('checked', 'checked');
        $('#log').append('<p>Received: ' + msg.data + '</p>');
    });
    //example of triggering an event on click of a form submit button
    $('form#emit').submit(function(event) {
        socket.emit('my event', {data: $('#emit_data').val()});
        return false;
    });
});
</script>


<!-- Button trigger modal -->
<button type="button" id="btn" name="btn">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id="log">This is a paragraph.</div>
{% block content %}
{{results}}
<input type="radio" id="male" name="gender" value="male">
###########################
{{google_results}}
<div>
  <h1>Flask CRUD</h1>
  {% if searches|length < 1 %}
  <p>There is nothing to buy for now.</p>
  {% else %}
  <table border="1">
    <thead>
      <tr>
        <th>Groceries</th>
        <th>Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for search in searches %}
      <tr>
        <td><a href="">{{ search.name }}</a></td>
        <td>{{ search.status }}</td>
        <td>{{ search.link }}</td>
        <td>{{ search.engine }}</td>
        <td>{{ search.created_at.date() }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <form action="/" method="POST">
    <table border="1">
        <thead>
          <tr>
            <tr>
                <th>New Stuff:</th>
                <th>Search Name:</th>
                <th>Status:</th>
                <th>Link:</th>
                <th>Engine:</th>
            </tr>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><input type="text" name="search" id="newStuff"></td>
                <td><label for="newStuff">New Stuff:</label></td>
               <!-- <td><input type="text" name="name" id="newStuff"></td>
                <td><input type="text" name="status" id="newStuff"></td>
                <td><input type="text" name="link" id="newStuff"></td>
                <td><input type="text" name="engine" id="newStuff"></td>-->
            </tr>
        </tbody>
    </table>
    <button type="submit">Add</button>
  </form>
</div>
{% endblock content %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>