<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<style>
    .bgcol {
    background-color: #4267b2!important
    }
    .suceesscol {
    color: lightseagreen!important
    }
</style>
<nav class="navbar navbar-dark bgcol">
    <!-- Navbar content -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><b>Search Search !!! </b><span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <button class="btn btn-sm btn-success" type="button" onclick="window.location.href = '/search'">Search</button>&nbsp;
    <button class="btn btn-sm btn-success" type="button" onclick="window.location.href = '/show'">List Results</button>
</nav>
{% block content %}

<script>

$(document).ready(function(){
        $("#search").click(function(){
        var query = $("#inputlg").val();
        $.ajax({
    
    url: 'http://' + document.domain + ':' + location.port + '/duckduck_go_search?query='+query,
    data: {
      format: 'json'
    },
    dataType: 'json',
    success: function(data) {
       // debugger;
        $("#duckduck_go_search").removeClass('fa-cog fa-spin').addClass('fa-check suceesscol');
        $("#duckduck_go_search").removeAttr("style").css({'color':'left: lightseagreen!important'});
        //debugger;
      //var $title = $('<h1>').text(JSON.stringify(data));
      //$('#info')
      //.append($title)
      if ($('.fa-check').length == 3) {
            window.location.href = 'http://' + document.domain + ':' + location.port + '/show';
        }
    },
    error: function() {
      $('#info').html('<p>An error has occurred</p>');
    },
    type: 'GET'
  });
$.ajax({
    
    url: 'http://' + document.domain + ':' + location.port + '/google_search?query='+query,
    data: {
      format: 'json'
    },
    dataType: 'json',
    success: function(data) {
       // debugger;
        $("#google_search").removeClass('fa-cog fa-spin').addClass('fa-check suceesscol');
        $("#google_search").removeAttr("style").css({'color':'left: lightseagreen!important'});
        //debugger;
      //var $title = $('<h1>').text(JSON.stringify(data));
      //$('#info')
      //.append($title)
      if ($('.fa-check').length == 3) {
            window.location.href = 'http://' + document.domain + ':' + location.port + '/show';
        }
    },
    error: function() {
      $('#info').html('<p>An error has occurred</p>');
    },
    type: 'GET'
  });
  $.ajax({
    
    url: 'http://' + document.domain + ':' + location.port + '/wikepedia_search?query='+query,
    data: {
      format: 'json'
    },
    dataType: 'json',
    success: function(data) {
       // debugger;
        $("#wikipedia_go_search").removeClass('fa-cog fa-spin').addClass('fa-check suceesscol');
        $("#wikipedia_go_search").removeAttr("style").css({'color':'left: lightseagreen!important'});$('.fa-check').length
        if ($('.fa-check').length == 3) {
            window.location.href = 'http://' + document.domain + ':' + location.port + '/show';
        }
        //alert($('.fa-check').length);
        //debugger;
      //var $title = $('<h1>').text(JSON.stringify(data));
      //$('#info')
      //.append($title)
    },
    error: function() {
      $('#info').html('<p>An error has occurred</p>');
    },
    type: 'GET'
  });
});
});
</script>
<div class="mx-auto" style="width: 900px;">
    &nbsp;
</div>
<div id="info" name="info"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <form action="/search" method="POST">
                <input class="form-control input-lg" id="inputlg" type="text"  name="query" id="newStuff">
            </form>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn bgcol" id="search" name="search" style="color: white;"><b>Search</b></button>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <table class="table table-bordered text-center" style="color: white;">
                <thead>
                <tr class="bgcol">
                    <th>Google</th>
                    <th>DuckDuckGo</th>
                    <th>Wikipedia</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><i class="fas fa-cog fa-spin" id="google_search" name="google_search" style="color:#4267b2!important"></i></td>
                    <td><i class="fas fa-cog fa-spin" id="duckduck_go_search" name="duckduck_go_search" style="color:#4267b2!important"></i></td>
                    <td><i class="fas fa-cog fa-spin" id="wikipedia_go_search" name="wikipedia_go_search" style="color:#4267b2!important"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5"><i><font color="green">Once all the Searches are completed it will Auto Redirect to the list of Queries </font></i></div>
        <div class="col-md-4"></div>
    </div>        

{% endblock content %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

