<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<style>
    .bgcol {
    background-color: #4267b2!important
    }
    .suceesscol {
    color: lightseagreen!important
    }
</style>
<nav class="navbar navbar-dark bgcol">
    <!-- Navbar content -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><b>Search Search !!! </b><span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <button class="btn btn-sm btn-success" type="button" onclick="window.location.href = '/search'">Search</button>&nbsp;
    <button class="btn btn-sm btn-success" type="button" onclick="window.location.href = '/show'">List Results</button>
</nav>
{% block content %}
{% if searches|length < 1 %}
<p>There past searches.</p>
{% else %}
<div class="mx-auto" style="width: 900px;">
    &nbsp;
</div>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<table class="table table-bordered text-center" id="search_table" name="search_table">
    <thead>
      <tr class="bgcol" style="color: white;">
        <th>Search Query</th>
        <th>Status</th>
        <th>Link Heading</th>
        <th>Link</th>
        <th>Engine</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      {% for search in searches %}
      <tr>
        <td>{{ search.name }}</td>
        <td>{{ search.status }}</td>
        <td>{{ search.link_text }}</td>
        <td><a href="{{ search.link }}">{{ search.link }}</a></td>
        <td>{{ search.engine }}</td>
        <td>{{ search.created_at.date() }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
<div class="col-md-1"></div>
</div>
{% endblock content %}
<script>
    $(document).ready( function () {
        $('#search_table').DataTable();
    } );
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>